{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ProjectApp | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    
</head>

<body>

    {% include 'layout/partials/menu.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/myprojects.js' %}"></script>

</body>
</html>
